{% extends 'dashboard/layout.html' %}


{% block alert %}
{% if form.errors %}
	<div class="alert alert-warning alert-dismissible show" role="alert"> 
    <ul>
    {% for field in form %}
      {% for error in field.errors %}
            <li>{{error}}</li>
        {% endfor %}
    {% endfor %}
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}	
{% endblock %}

{% block content %}
<div class="shadow p-4 mb-5 bg-body rounded w-100">
<h1>Register</h1>
<br/>
<form action="{% url 'register_user' %}" method=POST>
{% csrf_token %}
{{ form.as_p }}
			
<input type="submit" value="Submit" class="btn btn-secondary">

</form>
		
</div>	
{% endblock %}