{% extends "layouts/base.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="d-flex justify-content-center">
          <div class="col-md-8">
            <div class="card">

              <form role="form" method="post" action="">
              
                {% csrf_token %} 

                <div class="card-header">
                  <div class="d-flex justify-content-center">
                    <h3 class="title">Register</h3>
                  </div>
                  <h6 class="card-category">
                    <div class="d-flex justify-content-center">
                      {% if msg %}
                        <span class="text-danger">{{ msg | safe }}</span>
                      {% else %}
                        Add your credentials
                      {% endif %} 
                    </div> 
                  </h6>
                </div>

              {% if success %}
                <div class="d-flex justify-content-center">
                <p>
                  Please <a href={% url 'login' %}>authenticate</a> using the new account.
                </p>  
                </div>
              {% else %}

                <div class="card-body">

                    <div class="d-flex justify-content-center">
                      <div class="col-md-6 px-md-1">
                        <div class="form-group">
                          <label>Username</label>
                          {{ form.username }}
                        </div>
                      <div class="text-danger">{{ form.username.errors }}</div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <div class="col-md-6 px-md-1">
                        <div class="form-group">
                          <label>Email</label>
                          {{ form.email }}
                        </div>
                        <div class="text-danger">{{ form.email.errors }}</div>
                      </div>
                    </div>

                    <div class="d-flex justify-content-center">
                      <div class="col-md-6 px-md-1">
                        <div class="form-group">
                          <label>Password</label>
                          {{ form.password1 }}
                        </div>
                        <div class="text-danger">{{ form.password1.errors }}</div>
                      </div>
                    </div>
                    
                    
                    <div class="d-flex justify-content-center">
                        <div class="col-md-6 px-md-1">
                            <div class="form-group">
                            <label>Password Check</label>
                            {{ form.password2 }}
                            </div>
                            <div class="text-danger">{{ form.password2.errors }}</div>
                        </div>
                    </div>
                    

                </div>
                <div class="card-footer">
                  <div class='d-flex justify-content-center'>
                    <button type="submit" name="register" class="btn btn-fill btn-primary">Register</button>
                  </div>
                  <br>
                  <div class='d-flex justify-content-center'>
                    Have an account? &nbsp; <a href="{% url 'login' %}" class="text-primary">Login</a>
                  </div>
                </div>

              {% endif %} 

              </form>

            </div>
          </div>
      </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
